# Heart Attack Prediction Using SVM
Kaggle Dataset: [Heart_attack.csv](https://www.kaggle.com/datasets/rashikrahmanpritom/heart-attack-analysis-prediction-dataset?datasetId=1226038&searchQuery=svm&select=heart.csv)<br>

---
In this code, We are going to do following steps:
* Data Analysis and Preprocessing
* Model Selection and Tuning
* Testing Model and Predicting Outcomes

#### First We will import require libraries

In [67]:
import pandas as pd

#### Loading Dataset

data = pd.read_csv('heart_attack.csv')

In [3]:
data.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### Handling Null Values
We will check if any null values preset in our dataset

In [5]:
data.isnull().sum()

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

In [6]:
data.describe().T

          count        mean        std    min    25%    50%    75%    max
age       303.0   54.366337   9.082101   29.0   47.5   55.0   61.0   77.0
sex       303.0    0.683168   0.466011    0.0    0.0    1.0    1.0    1.0
cp        303.0    0.966997   1.032052    0.0    0.0    1.0    2.0    3.0
trtbps    303.0  131.623762  17.538143   94.0  120.0  130.0  140.0  200.0
chol      303.0  246.264026  51.830751  126.0  211.0  240.0  274.5  564.0
fbs       303.0    0.148515   0.356198    0.0    0.0    0.0    0.0    1.0
restecg   303.0    0.528053   0.525860    0.0    0.0    1.0    1.0    2.0
thalachh  303.0  149.646865  22.905161   71.0  133.5  153.0  166.0  202.0
exng      303.0    0.326733   0.469794    0.0    0.0    0.0    1.0    1.0
oldpeak   303.0    1.039604   1.161075    0.0    0.0    0.8    1.6    6.2
slp       303.0    1.399340   0.616226    0.0    1.0    1.0    2.0    2.0
caa       303.0    0.729373   1.022606    0.0    0.0    0.0    1.0    4.0
thall     303.0    2.313531   0.612277    0.0    2.0    2.0    3.0    3.0
output    303.0    0.544554   0.498835    0.0    0.0    1.0    1.0    1.0

#### Working on Model

In [46]:
from sklearn.model_selection import train_test_split, GridSearchCV
X_train, X_test, y_train, y_test = train_test_split(data.iloc[:,:-1],data['output'], test_size=0.2)

In [47]:
from sklearn.svm import SVC

In [48]:
model = SVC()

In [49]:
# parameter for passing in gridsearchcv 
parameters = [{'C':[1,10,100,1000],'kernel':['linear','rbf']},
              {'C':[1,10,100,1000],'kernel':['poly'],'degree':[2,3,4]},
              {'C': [1, 10, 100, 400], 'kernel': ['rbf'], 'gamma':[0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]}
             ]

In [50]:
# for choossing best parameters 
gsc = GridSearchCV(estimator=model,
                  param_grid=parameters,
                  scoring='accuracy',
                  cv=10)

In [51]:
gsc.fit(X_train,y_train)

GridSearchCV(cv=10, estimator=SVC(),
             param_grid=[{'C': [1, 10, 100, 1000], 'kernel': ['linear', 'rbf']},
                         {'C': [1, 10, 100, 1000], 'degree': [2, 3, 4],
                          'kernel': ['poly']},
                         {'C': [1, 10, 100, 400],
                          'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8,
                                    0.9],
                          'kernel': ['rbf']}],
             scoring='accuracy')

In [57]:
gsc_score = gsc.best_score_
gsc_param = gsc.best_params_

In [58]:
print('For following paramerts we are getting {:.3f}'.format(gsc_score))
print('\t--> ',gsc_param)

For following paramerts we are getting 0.839
	-->  {'C': 1, 'kernel': 'linear'}

In [59]:
model = SVC(kernel='poly', C=1000, degree=2)

In [60]:
model.fit(X_train,y_train)

SVC(C=1000, degree=2, kernel='poly')

In [71]:
y_pred = model.predict(X_test)

In [76]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8524590163934426